{% load static %}

<!DOCTYPE html>
<html>

<head>
 <!-- Global site tag (gtag.js) - Google Analytics -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125128403-1"></script>
 <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-125128403-1');
  </script>
  <title>Site is down for maintenance</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!--External CSS-->
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>

<body>
  <article>
    <h1>Site is temporarily unavailable.</h1>
    <p>Scheduled maintenance is currently in progress. Please check back soon.</p>
    <p id="signature">&mdash; <a href="mailto:[gemasayidnuga@gmail.com]"> PPW Berdonasi Team </a></p>
  </article>
</body>

</html>